.root {
    -fx-base: rgb(50, 50, 50);
    -fx-background: -fx-base;
    -fx-control-inner-background: derive(-fx-base, +5%);
    -fx-control-inner-background-alt: derive(-fx-base, -5%);

    -fx-accent: rgb(204,132,0);
    -fx-focus-color: rgb(255, 165, 0);
    -fx-faint-focus-color: rgba(255, 165, 0, 0.075);

    -fx-selection-bar: -fx-accent;
    -fx-selection-bar-non-focused: derive(-fx-base, +30%);
    -fx-light-text-color: rgb(220,220,220);

    -fx-font-family: "Verdana";
}

.label {
    -fx-graphic-text-gap: 10px;
}

.table-view:focused {
    -fx-background-color: transparent,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1;
}

.context-menu {
    -fx-base: rgb(70,70,70);
}

.context-menu .separator {
    -fx-base: rgba(255,255,255,0.15);
    -fx-padding: 0px 3px 0px 3px;
}

.table-view {
    -fx-table-cell-border-color: derive(-fx-base,+15%);
}

.table-row-cell:empty {
    -fx-table-cell-border-color: transparent;
    -fx-background: derive(-fx-base, +5%);
}

.text-field {
    -fx-control-inner-background: derive(-fx-base, +10%);
    -fx-prompt-text-fill: derive(-fx-base, +40%);
}

.check-box {
    -fx-base: rgb(80,80,80);
}

.check-box .dot {
    -fx-mark-color: white;
}

.combo-box {
    -fx-control-inner-background: derive(-fx-base, +10%);
}

.progress-indicator {
    -fx-progress-color: white;
}

.progress-indicator .tick {
    -fx-background-color: black;
}

.progress-indicator .percentage {
    -fx-fill: null;
}

.popover > .border {
    -fx-stroke: rgba(255, 255, 255, 0.7);
    -fx-stroke-width: .5;
    -fx-fill: rgba(50, 50, 50, .6);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .9), 15, .4, 0, 0);
}

.table-view .column-header .label{
    -fx-text-fill: white;
}

#header1 {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

#header2 {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

#labelsmall {
    -fx-font-size: 10px;
}