.root {
    -fx-font-family: "Verdana";
}

.label {
    -fx-graphic-text-gap: 10px;
}

.popover > .border {
    -fx-stroke: black;
    -fx-stroke-width: .5;
    -fx-fill: rgba(255, 255, 255, .9);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .4), 15, .4, 0, 0);
}

.table-view .column-header .label{
    -fx-text-fill: black;
}

#header1 {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

#header2 {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

#labelsmall {
    -fx-font-size: 10px;
}

.table-view:focused {
    -fx-background-color: transparent,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1;
}

.progress-indicator .percentage {
    -fx-fill: null;
}
